/* body styling */
.index {
    background: orange;
    color: rgb(27, 3, 50)
}

.lasagna {
    background: pink;
    color: purple;
}

.friedchicken {
    background: brown;
    color: grey;
}

.mangodrink {
    background: ;
}



/* lasagna file */

/* friedchicken file */

/* mangodrink file */